@import '../../styles/mixins';

body {
    padding-top: 75px;
}

.navbar {
    background-color: $primary;
    padding: 10px 0;

    > .container {
        position: relative;
    }

	.navbar-brand {        
		display: block;
        position: absolute;
        top: -10px;
        left: $grid-gutter-width / 2;
        z-index: 999;
        padding: 0;
        margin: 0;
        height: 70px;

        img {
            width: auto;
            height: 100%;
        }
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: $grid-gutter-width / 2;
        border-radius: 0;
    }

	.navbar-collapse {
        text-align: center;
		
		@media (max-width: 767px) {
			box-shadow: none;
		}
		@media (min-width: 768px) {
			padding-left: 65px;
        }
        
        .navbar-nav {
            text-transform: uppercase;
        }
	}
}