@import '../../styles/mixins';

.profile-detail {
    &__cover {
        @include white-box;
        position: relative;

        &-caption {
            @media (min-width: 576px) {                
                position: absolute;
                left: 20px;
                right: 20px;
                bottom: 20px;
            }
        }

        &-title {
            display: inline-block;
            padding: 5px 10px;
            margin: 0;
            background: white;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-media {
            width: 100%;
        }
    }

    &__socials {
        .btn {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;

            &.instagram {
                background-color: $instagram;
                color: white;
            }
    
            &.twitter {
                background-color: $twitter;
                color: white;
            }
    
            &.youtube {
                background-color: $youtube;
                color: white;
            }
    
            &.vimeo {
                background-color: $vimeo;
                color: white;
            }
        }
    }
}