@import '../../styles/mixins';

.article-detail {
    @include white-box;

    &__header {
        padding: 0 15px;
        margin-top: 10px;
        margin-bottom: 10px;

		@media (min-width: 768px) {
            padding: 0 50px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &-title {
            margin: 0 0 getSpace(1) 0;
            text-transform: uppercase;
            font-weight: 700;
            color: $primary;
        }
    }

    &__body {
        padding: 0 15px;
        margin-bottom: 10px;

		@media (min-width: 768px) {
            padding: 0 50px;
            margin-bottom: 40px;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__footer {
        padding: 0 15px;
        margin-bottom: 10px;

		@media (min-width: 768px) {
            padding: 0 50px;
            margin-bottom: 40px;
        }
    }

    &__media {
        width: 100%;
    }
}
