@import '../../styles/mixins';

.article-teaser {
    background-color: $white;
    box-shadow: 0 0 10px rgba(20,20,20,.2);
    margin-bottom: getSpace(3);
    padding: getSpace(2);
    color: $primary;

    &__header {
        &-title {
            margin: 0 0 getSpace(1) 0;
            text-transform: uppercase;
            font-weight: 700;
        }
    
        &-meta {
            margin-bottom: 10px;
        }
    }

    &__body {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__media {
        width: 100%;
        margin-bottom: getSpace(2);
    }
}