@import '../../styles/mixins';

.article-teaser {
    @include white-box;

    &__header {
        &-title {
            margin: 0 0 getSpace(1) 0;
            text-transform: uppercase;
            font-weight: 700;
            color: $primary;

            &:hover,
            &:focus {
                color: $secondary;
            }
        }
    
        &-meta {
            margin-bottom: 10px;
        }
    }

    &__body {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__media {
        width: 100%;
        margin-bottom: getSpace(2);
    }
}