@import '../../styles/mixins';

.profile-overview {
    &__filter {
        margin-bottom: $grid-gutter-width;

        .btn {
            color: $dark-grey;
            background-color: #fff;
            border-color: #ccc;

            + .btn {
                margin-left: 5px;
            }

            &.nuxt-link-exact-active {
                background-color: $secondary;
                color: #fff;
                border-color: $secondary;
            }
        }
    }
}