@import '../../styles/mixins';
@import '../../styles/slick';

.article-slider {
    @include white-box;

    &__item {
        position: relative;
        display: block;

        &-media {
            width: 100%;
        }

        &-caption {
            @media (min-width: 576px) {                
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 10px;
            }
        }

        &-title {
            display: inline-block;
            padding: 5px 10px;
            margin: 0;
            background: white;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}