$orange: #f15a24;

$white: #fff;
$light-grey: #eee;
$grey: #9d9d9d;
$dark-grey: #222;
$black: #000;

$primary: $dark-grey;
$secondary: $orange;

$youtube: #e52d27;
$twitter: #4099ff;
$vimeo: #1ab7ea;
$instagram: #125688;