::-moz-selection,
::selection { 
    background: $secondary;
    color: $white;
}

*:focus,
button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light-grey;
}

blockquote {
    margin: 0;
}

a {
    color: inherit;
    display: inline-block;

    &:hover,
    &:focus {
        color: $secondary;
        text-decoration: none;
    }
}

.sidebar {
    margin-left: -15px;
}

.white-box {
    @include white-box;
}

.responsive-embed {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    &__16by9 {
        padding-bottom: 56.25%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}