::-moz-selection,
::selection { 
    background: $secondary;
    color: $white;
}

*:focus,
button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light-grey;
}

blockquote {
    margin: 0;
}

a {
    color: inherit;
    display: inline-block;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.sidebar {
    margin-left: -15px;
}

.white-box {
    @include white-box;
}